.card {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  align-items: flex-start;}

  .card__poster {
    border-radius: 4px;
  }

  .card__title {
    margin-bottom: 16px;
  }

  .card__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card__item {
    display: flex;
    gap: 8px;
  }

  .card__tag {
    padding: 2px 6px;
    border: 1px solid #90a4ae;
    border-radius: 4px;
  }

  .card__subtitle {
    font-size: 16px;
  }


.meta {
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(144, 164, 174, 0.3);}

  .meta__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
